body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
  }
  
  header {
    background-color: #13c71c;
    color: #140f0f;
    padding: 20px;
  }
  
  .header h1 {
    margin: 0;
    font-size: 32px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  section {
    margin-bottom: 40px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  section p {
    margin-bottom: 20px;
  }
  
  section ul {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 20px;
  }
  
  section a {
    color: #184e1b;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer {
    background-color: #333;
    color: #0f0e0e;
    padding: 10px;
    text-align: center;
  }
  